<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-btn">
      <button
        type="button"
        class="btn-toggle-offcanvas"
        (click)="toggleSideMenu()"
      >
        <i class="lnr lnr-menu fa fa-bars"></i>
      </button>
    </div>

    <div class="navbar-brand">
      
    </div>

    <div class="navbar-right">
     

      <div id="navbar-menu">
        <ul class="nav navbar-nav">
         
          <li>
            <a
              href="javascript:void(0)"
              class="icon-menu d-none d-sm-block"
              (click)="openModal(content, 'md')"
              ><i class="icon-basket"></i
            ></a>
          </li>
          <li>
            <a href="#" class="icon-menu d-none d-sm-block" (click)="logout()"
              ><i class="icon-login"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Tu Carrito</h4>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="body">
        <div class="row clearfix">
          <div class="col-lg-6 col-md-12">
            <div class="receipt-left">
              <img
                class="img-fluid"
                src="assets/images/logo-white.png"
                style="width: 71px; border-radius: 43px"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-12 text-right">
            <h5>Casa Hipa</h5>
            <p class="mb-0">+549 351 666 4747 <i class="fa fa-phone"></i></p>
            <p class="mb-0">
              info@casahipa.com <i class="fa fa-envelope-o"></i>
            </p>
            <p>Argentina<i class="fa fa-location-arrow"></i></p>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Descripción</th>
                <th class="text-right">Monto</th>
                <th class="text-right">Acc</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of carrito; let i = index">
                <td class="col-md-9">{{ item.name }}</td>
                <td class="col-md-3 text-right">
                  {{ item.precio | currency }}
                </td>
                <td class="col-md-9">
                  <button
                    class="btn btn-outline-danger icon-trash"
                    (click)="borrarItem(i)"
                  ></button>
                </td>
              </tr>

              <tr>
                <td class="text-right">
                  <h6>Total:</h6>
                </td>
                <td class="text-danger text-right">
                  <h6>{{ total | currency }}</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row clearfix">
          <div class="col-lg-8 col-md-12">
            <p class="mb-0">
              <b>Fecha :</b> {{ fechaHoy | date : "dd-MM-yyyy" }}
            </p>
            <h6 class="mb-0 text-muted">Gracias por su compra!</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="pagar()">
      Pagar en MercadoPago
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Close click')"
    >
      Cerrar
    </button>
  </div>
</ng-template>
