<div class="container-fluid blog-page">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-12">
        <h2>
          <a
            href="javascript:void(0);"
            class="btn btn-xs btn-link btn-toggle-fullwidth"
            (click)="toggleFullWidth()"
          >
            <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
            <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
          </a>
          Entradas blog
        </h2>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-lg-8 col-md-12 left-box">
      <div class="card single_post" *ngFor="let entrada of entradasFiltradas | paginate: {itemsPerPage: 5, currentPage:currentPage, id: 'miTabla'}">
        <div class="body">
          <div class="img-post">
            <!-- <img
              class="d-block img-fluid"
              src="https://c1.wallpaperflare.com/preview/523/21/80/board-game-fun-game-hands.jpg"
            /> -->
          </div>
          <h3>
            {{ entrada.titulo }}
          </h3>
          <p [innerHTML]="entrada.parrafo"></p>
        </div>
        <div class="footer">
          <div class="actions">
            <!-- <a
              href="#"
              onclick="checkout()"
              class="btn btn-outline-secondary"
              *ngIf="entrada.precio || entrada.precio > 0"
              >Registrarme a Evento!</a
            > -->
            <button
              type="button"
              (click)="checkout(entrada)"
              class="btn btn-outline-secondary"
              *ngIf="entrada.precio || entrada.precio > 0"
            >
              Registrarme a Evento!
            </button>
          </div>
          <ul class="stats">
            <li>{{ entrada.categoria }}</li>
            <li>
              {{ entrada.nombre + " " + entrada.apellido }}
            </li>
            <li>{{ entrada.fecha | date : "dd/MM/yyyy HH:mm:ss" }}</li>
          </ul>
        </div>
      </div>

      <pagination-controls (pageChange)="currentPage = $event" id="miTabla"></pagination-controls>
    </div>
    <div class="col-lg-4 col-md-12 right-box">
      <div class="card">
        <div class="body search">
          <div class="input-group m-b-0">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="icon-magnifier"></i
              ></span>
            </div>
            <input type="text" class="form-control" name="busqueda" placeholder="Buscar..." [(ngModel)]="busqueda" (input)="filtrarBusqueda()" />
          </div>
        </div>
      </div>

      <!-- LightWidget WIDGET
      <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
      <iframe
        src="//lightwidget.com/widgets/d5c3a4f08b0752d98776f174645f39fd.html"
        scrolling="no"
        allowtransparency="true"
        class="lightwidget-widget"
        style="width: 100%; border: 0; overflow: hidden; height: 100%"
      ></iframe> -->

      <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
      <iframe 
      src="//lightwidget.com/widgets/d8181782f922526b97b86e56cc19846a.html" 
      scrolling="no" allowtransparency="true" class="lightwidget-widget" 
      style="width:100%;border:0;overflow:hidden; height: 100%;"></iframe>
    </div>
  </div>
</div>
<!-- LightWidget WIDGET -->
<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
