<head>
  <link
    href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <div class="container">
    <div class="card" style="height: 650px">
      <div
        style="
          border-radius: 200px;
          height: 200px;
          width: 200px;
          background: #f0e0de;
          margin: 0 auto;
        "
      >
        <i class="checkmark">X</i>
      </div>
      <h1>Error!</h1>
      <p>
        Error al procesar tu pago;<br />
        te redigiremos a la pagina principal en breve...
      </p>
    </div>
  </div>
</body>
