<div id="wrapper auth">
  <div class="vertical-align-wrap">
    <div class="auth_frame"></div>
    <div class="vertical-align-middle auth-main">
      <div class="auth-box">
        <div class="top">
          <img src="assets/images/logo-white.png" alt="Lucid" />
        </div>
        <div class="card">
          <div class="header">
            <p class="lead">Recuperar mi password</p>
          </div>
          <div class="body">
            <p>
              Por favor ingrese su e-mail debajo para recibir instrucciones para
              recuperar su password.
            </p>
            <form
              class="form-auth-small"
              #lockForm="ngForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="form-group">
                <input
                  type="email"
                  placeholder="Email"
                  class="form-control"
                  required
                  [(ngModel)]="user.email"
                  name="email"
                  #email="ngModel"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  [ngClass]="{
                    'parsley-error':
                      !email.valid && (email.touched || lockForm.submitted)
                  }"
                />
                <ul
                  class="parsley-errors-list filled"
                  *ngIf="!email.valid && (email.touched || lockForm.submitted)"
                >
                  <li
                    class="parsley-required"
                    *ngIf="email.hasError('required')"
                  >
                    Este valor es requerido.
                  </li>
                  <li class="parsley-type" *ngIf="email.hasError('pattern')">
                    Este valor debe ser en formato email.
                  </li>
                </ul>
              </div>
              <button
                [disabled]="lockForm.invalid"
                type="submit"
                class="btn btn-primary btn-lg btn-block"
              >
                RESET PASSWORD
              </button>
              <div class="bottom">
                <span class="helper-text"
                  >Sabes tu password?
                  <a [routerLink]="['/authentication/page-login']"
                    >Login</a
                  ></span
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
